/* Dashboard global */
.dashboard {
    padding: 40px;
    background-color: #ffff;
  }
  
  /* Cartes du haut */
  .top-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .card-S {
    background-color: #ffff;
    padding: 20px;
    max-width: 20%;
    border-radius: 16px;
    box-shadow: 0 4px 4px 0px rgba(77, 125, 64, 0.88);
    transition: all 0.3s ease-in-out;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  
  .card-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
  }
  
  .card-value {
    font-size: 24px;
    color: #88a373;
    font-weight: bold;
  }
  

  
  
  .chart-title {
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
  }
  
  /* Légende personnalisée */
  .custom-legend {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1.5rem;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .legend-color {
    width: 15px;
    height: 15px;
    border-radius: 3px;
  }
  
  .legend-label {
    font-size: 14px;
    color: #000;
  }
  
  



  .card-S:hover,.chart-box:hover,
  .pie-box:hover,.calendar:hover{
    box-shadow: 0 4px 4px 0px #E0A600;
    transform: scale(1.02);
  }
  /* Style for the custom calendar */
.custom-calendar {
  border: none !important; /* Remove the default border */
  box-shadow: none !important; /* Remove any box-shadow */
  margin-left: 40px !important;
}

.custom-calendar__tile {
  border-radius: 10px !important;
  background-color: #E0A600  ;  /* Rounded corners for each day */
}

.custom-calendar__tile--active {
  background-color: #E0A600 !important; /* Custom active date background color */
  color: white !important;  /* Ensure the text is white on active date */
}


.custom-legend1 {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.legend-item1 {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.legend-color1 {
  width: 14px;
  height: 14px;
  border-radius: 50px;
  margin-right: 8px;
}

.legend-label1 {
  font-size: 14px;
  color: #333;
}

.calendar{
  flex: 1;
  background-color: #fff;
  max-width: 30%;
  border-radius: 16px;
  padding: 20px;
 box-shadow: 0 4px 4px 0px rgba(77, 125, 64, 0.88);
  transition: all 0.3s ease-in-out;}

  .chart-box,
  .pie-box {
    flex: 1;
    background-color: #ffff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 4px 0px rgba(77, 125, 64, 0.88);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Section bas */
  .bottom-section {
    display: flex;
    gap: 30px;
  }
    /* Section centrale */
  .middle-section {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }
  