@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;

}


.base-container {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  background-color: #ffff;
  box-shadow: 0px 4px 6px 1px rgba(31, 58, 36, 0.92);
  border-radius: 8px;
  margin: 25px;
}

/* CONTENEUR PRINCIPAL */
.search-container {
  margin: 20px;

}

/* BARRE HAUT TITRE + ICONES */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.icon-actions {
  display: flex;
  gap: 12px;
}

.icon-base {
  font-size: 20px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  padding: 2px;
  transition: all 0.2s ease;
}

.icon-base:hover {
  color: #f5b300;
}

/* TITRES */
.titre-base {
  font-size: 27px;
  font-weight: 500;
  color: #000;
}

.titre-multicritere {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: -30px;
  margin-left: 30px;
}
.titre-multicritere h2{
  font-size: 25px;
  font-weight: 500;
  color: #E0A600;
  
}

.icon-search {
  font-size: 20px;
  color: #E0A600;
}
.base-rech{
  box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  margin-top: -20px;
}
/* FORMULAIRE */
.filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  gap: 20px;
  margin-bottom: 20px;
  border:0;
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.form-group select,
.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* BOUTONS */
.button-group {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  gap: 15px;
}

.btn-search,
.btn-cancel {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
}

.btn-search {
  background-color: rgba(77, 125, 64, 0.88);
  color: white;
}

.btn-cancel {
  background-color: rgba(224, 166, 0, 0.47);
  color: rgba(31, 58, 36, 0.92);
  padding: 10px 35px;
}


/* LISTE DES TEXTES */
.text-list-container {
  background-color: #fff;
  margin-top: 40px;
  padding: 20px 25px;
  border:0;
  
}

.text-base {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #E0A600;
  margin-left: 30px;
}

.text-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
 
}

.line-horiz{
  border: 1px solid #eceaea;
  width: 105%;
  margin-top: -25px;
  margin-bottom: 30px;
  margin-left: -35px;

}


table {
  width: 103%;
  border-collapse: collapse;
  font-size: 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: -20px;
}

table th, table td {
  padding: 10px 12px;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
}

table th {
  background-color: rgba(77, 125, 64, 0.88);
  color: #fff;
  font-weight: 600;
}
table td {
  background-color: #fff;
  color: #000;
  
}
 
table td svg {
  display: block;
  margin: 0 auto;
  font-size: 24px;
  color: rgba(31, 58, 36, 0.92);
  cursor: pointer;
}

table td svg:hover {
  color: #E0A600;
}
.APP-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.APP-container:hover .menu-APP {
  display: flex;
}

.app-status {
  display: inline-block;
  padding: 3px 0px;
  border-radius: 50px;
  font-size: 12px;
  text-align: center;
  min-width: 45px;
  cursor: pointer;
  border: 1px solid rgba(31, 58, 36, 0.92);
  color: #494747;
}
/* Styles pour refléter les couleurs sélectionnées dans le badge */

.app-status.app {
  background-color: green;
  color: white;
  border: 1px solid green;
}

.app-status.info {
  background-color: #d0e9f5;
  color: #0d5ea6;
  border: 1px solid #2196f3;
}

.app-status.av {
  background-color: #fce4d6;
  color: #b34700;
  border: 1px solid #f57c00;
}

.app-status.n-app {
  background-color: transparent;
  color: #494747;
  border: 1px solid #494747;
}


/* Dropdown Menu */
.menu-APP {
  display: none;
  position: absolute;
  padding: 5px 8px;
  gap: 3px;
  top: 100%;
  left: 50%;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 10;
  transform: translateX(-50%);
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.option-APP {
  
  padding: 3px 3px;
  border-radius: 40px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.option-APP:hover {
  background-color: rgba(224, 166, 0, 0.15);
}
/* Couleurs personnalisées */
.option-APP.app {
  background-color: green;
  border:1px solid green;
  color: #ffff;
}

.option-APP.info {
  background-color: #d0e9f5;
  border:1px solid #2196f3;
  color: #0d5ea6;
}

.option-APP.av {
  background-color: #fce4d6;
  border:1px solid #f57c00;
  color: #b34700;
}

/* Style spécial pour N APP */
.option-APP.n-app {
  color: #494747;
  background-color: transparent;
  border:1px solid #494747;
  
}

.footer-base {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
 margin-top: 70px;
}

.abreviation {
  position: relative;
  cursor: pointer;
  margin-top: 5px;
}

.menu-abrev {
  color: rgba(31, 58, 36, 0.92);
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(31, 58, 36, 0.92);
  font-weight: 300;
  font-size: 18px;
  margin-left: 30px;

}


.dropdown-abrev {
  position: absolute;
  top: 105%;
  left: 0;
  background: #ffff;
  color: #494747;
  min-width: 165px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 12.5px;
}

.abrev-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
  padding-top: 3px;
}
.dropdown-abrev .abrev-item:last-child {
  border-bottom: none;
}
.abrev-lettre {
  font-family: serif;
  font-size: 23px;
  text-transform: lowercase;
}

.bold {
  font-weight: bold;
}

.abrev-label {
  padding: 2px 8px;
  border-radius: 40px;
  font-size: 11px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 45px;
  height: 22px;
  text-align: center;
  box-sizing: border-box;
}

.app {
  background-color: green;
  border:1px solid green;
  color: #ffff;
}

.napp {
  color: #494747;
  background-color: transparent;
  border:1px solid #494747;
}

.av {
  background-color: #fce4d6;
  border:1px solid #f57c00;
  color: #b34700;
}

.info {
  background-color: #d0e9f5;
  border:1px solid #2196f3;
  color: #0d5ea6;
}


.pagination-container {
  display: flex;
  justify-content: flex-end;
  margin-top:-5px;
}

.pagination {
  display: flex;
  list-style: none;
  padding-left: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.btn-item {
  padding: 8px 14px;
  min-width: 40px;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  cursor: pointer;
  border-right: 1px solid #ccc;
  background-color: #fff;
  font-size: 14px;
  color: rgba(31, 58, 36, 0.92);
  transition: background-color 0.3s ease;
}

.btn-item:hover {
  background-color: #faeabd;
}

.btn-item:last-child {
  border-right: none;
}

.btn-item.active {
  background-color: #E0A600;
  color: #fff;
}

.exp-pdf{
    border: 1px solid #E0A600;
    background-color: #E0A600;
    color: #ffff;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    margin-left: 1198px;
    margin-top: -10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.exp-pdf:hover{
    background-color: #f9dd90;
    color: rgba(31, 58, 36, 0.92);
}
.exp-pdf svg{
    font-size: 18px;
    margin-bottom: -4px;
}