@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}
.footer {
    background-color: rgba(31, 58, 36, 0.92);
    color: white;
    padding: 20px 20px;
    font-family: "Poppins", sans-serif;
    font-weight:lighter;
    position: relative;
   
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 120px;
   gap: 10rem;
   margin-top: 20px;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    min-width: 250px;
    margin-top: 5px;
  }
  .footer-section p{
    margin-top: 20px;
  }
  .logo-footer {
   width: 350px;
   height: auto;
   margin-left: -40px;
  }
  
  .social-icons {
    margin-top: 20px;
    
  }
  .icon-soc{
    color:rgba(252, 196, 25, 1);
   font-size: 37px;
   border-radius: 50%;
   border: 0;
   box-shadow: 0px 0px 5px 0px rgba(252, 196, 25, 1);
  }
  .icon-soc:hover{
    box-shadow: 0px 0px 15px 0px rgba(252, 196, 25, 1);
 
  }

  .social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
  }
  .navigation{
    margin-right: 40px;
  }
  .contact{
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
  }
  .p0{
    color: #fff;
    font-size: 16px;
  }
  .navigation h2,
  .contact h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
    font-weight:bold;
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
  }
  
  .nav-links a  {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  
  .nav-links a:hover {
    text-decoration: underline;
    color:rgba(252, 196, 25, 1);
    font-size:17px ;
  }
  
  .contact p {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    margin: 5px 0;
  }
  
  .contact a {
    color: white;
    text-decoration: none;
  }
  .contact p{
    color: #fff;
  }
  
  .contact a:hover {
    text-decoration: underline;
    color:rgba(252, 196, 25, 1);
    font-size:17px ;
  }
  .icon-fixe{
    width: 23px;
    height: 23px;
  }
  .icon-footer{
    color:rgba(252, 196, 25, 1);
    font-size: 20px;
  }
  .footer-bottom  {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 50px;

  }
  .footer-bottom p{
    text-align: center;
    margin:0 auto; 
    
  }
  .p2{
  font-size: 19px;
   color: #fff;
  }
  .p1{
    font-size: 25px;
  }
  .line-footer{
    border-bottom: 2px solid rgba(252, 196, 25, 1);
    width: 90%;
    margin-left: 80px;
    margin-top: -10px;
}
  
  .footer-bottom a {
    color: white;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
    color:rgba(252, 196, 25, 1);
  }
  