@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  height: 100vh;

}

.left-section {
  flex: 1;
  background-color: #ffff; 
  
}

.right-section {
  flex: 1;
  background-color: rgba(31, 58, 36, 0.92); 
  
}
.right-section img {
  max-width: 100%; 
  height: auto; 
  width: 300px; 
  margin-top: 15px;
  margin-left: 10px;
}
.left-section img {
  position: absolute;
  height: 700px;
  width: 700px;
  max-width: 50%; 
  max-height: 100%;
  left: 30px;
  margin-top: 20px;
 
}


.container-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;

}

.login-box {
  height: 80vh;
}

.title-forget {
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;

}

.phrase {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
 
}
.label {
    display: block;
    text-align: left;
    color: #E0A600;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}




.input-field5 {
  width: 500px;
  padding: 15px 20px 15px 45px;
  background-color: #ffff;
  border: none;
  border-radius: 20px;
  color: #1F3A24;
  font-size: 20px;
  margin-left: 5px;
 
}

.input-field5:focus {
  outline: none;
  border: 2px solid #E0A600;
  box-shadow:4px 4px 6px 6px rgba(224, 166, 0, 0.47);
}
.code-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.code-input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 5px #E0A600;
}

  

.send-button {
  background-color: #E0A600;
  color: #ffff;
  padding: 10px 0 ;
  width: 38%;
  font-weight: bold;
  border-radius: 20px;
  font-size: 25px;
  margin-left:55%;
  margin-top: 20px;
  cursor: pointer;
}
.send-button:hover{
  background-color: #c99a1a;

}
.back-link {
    color: white;
    margin-top: 10px;
    font-size: 14px;
}

.login-link {
    color: #E0A600;
    font-weight: bold;
    text-decoration: none;
}