/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004a99; /* Couleur de fond de la navbar */
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-logo img {
    height: 40px; /* Ajustez la taille du logo selon vos besoins */
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  .navbar-access a {
    background-color: #ff6f61; /* Couleur de fond pour le bouton Accès Veille */
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar-access a:hover {
    background-color: #ff3b2f; /* Couleur au survol */
  }