@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  height: 100vh;

}

.left-section {
  flex: 1;
  background-color: #ffff; 
  
}

.right-section {
  flex: 1;
  background-color: rgba(31, 58, 36, 0.92); 
  
}

.right-section img {
  max-width: 100%; 
  height: auto; 
  width: 300px; 
  margin-top: 15px;
  margin-left: 10px;
  
}
.left-section img {
  position: absolute;
  height: 700px;
  width: 700px;
  max-width: 50%; 
  max-height: 100%;
  left: 30px;
  margin-top: 20px;
 
}


.container-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;

}

.login-box {
  height: 80vh;
}

.title {
  
  color: white;
  font-size: 35px;
  margin-left: 100px;

}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
  gap: 5rem;
 
}

.active {
  color:#E0A600 ;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 4px solid #E0A600;
  padding-bottom: 5px;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
}

.inactive {
  color: white;
  font-size: 28px;
  border-bottom: 4px solid #ffff;
  padding-bottom: 5px;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
}
.input-group {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.icons {
  position: absolute;
  left: 18px;
  top: 48%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #E0A600;
}

.input-field {
  width: 500px;
  padding: 15px 20px 15px 45px;
  background-color: #ffff;
  border: none;
  border-radius: 20px;
  color: #1F3A24;
  font-size: 20px;
  margin-left: 5px;
 
}

.input-field:focus {
  outline: none;
  border: 2px solid #E0A600;
  box-shadow:4px 4px 6px 6px rgba(224, 166, 0, 0.47);
}

.password-toggle {
  position: absolute;
  right: 20px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;
  color: #B3B3B3 !important;
 
}

  
.forgot-password {
  display: block;
  color: #E0A600;
  font-size: 0.9rem;
  text-decoration: none;
  margin-left: 420px;
  margin-top: 20px;

  
}
.forgot-password:hover{
  text-decoration: underline;
}
.login-button {
  background-color: #E0A600;
  color: #ffff;
  padding: 10px 0 ;
  width: 38%;
  font-weight: bold;
  border-radius: 20px;
  font-size: 25px;
  margin-left:20px;
  margin-top: 10px;
  cursor: pointer;
  border: 0;
  

}
.login-button:hover{
  background-color: #c99a1a;
}
.login-button svg{
  margin-bottom: -3px;
  margin-right: 2px;
}
.left-section2 {
  flex: 1;
  background-color: #ffff; 
}

.right-section2 {
  flex: 1;
  background-color: rgba(31, 58, 36, 0.92); 
  height: 123vh;
}
.right-section2 img {
  max-width: 100%; 
  height: auto; 
  width: 300px; 
  margin-top: 15px;
  margin-left: 10px;
}
.left-section2 img {
  position: absolute;
  height: 700px;
  width: 700px;
  max-width: 50%; 
  max-height: 100%;
  right: 15px;
  margin-top: 20px;
  transform: scaleX(-1);

}

.container-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;

}

.signup-box {
  height: 98vh;
}

.title2 {
  
  color: white;
  font-size: 33px;
  margin-left: 100px;

}

.tabs2 {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 5rem;
 
}

.active2 {
  color:#E0A600 ;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 4px solid #E0A600;
  padding-bottom: 5px;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
}

.inactive2 {
  color: white;
  font-size: 28px;
  border-bottom: 4px solid #ffff;
  padding-bottom: 5px;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
}
.input-group2 {
  position: relative;
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
}

.icon2 {
  position: absolute;
  left: 18px;
  top: 48%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #E0A600;
}

.input-field2 {
  width: 500px;
  padding: 8px 10px 10px 45px;
  background-color: #ffff;
  border: none;
  border-radius: 20px;
  color: #1F3A24;
  font-size: 20px;
  margin-left: 5px;
 
}

.input-field2:focus {
  outline: none;
  border: 2px solid #E0A600;
  box-shadow:3px 3px 3px 3px rgba(224, 166, 0, 0.47);
}
.select-field2{
  width: 556px;
  padding: 8px 10px 10px 45px;
  background-color: #ffff;
  border: none;
  border-radius: 20px;
  color: #656766;
  font-size: 20px;
  margin-left: 5px;
}
.select-field2:focus {
  outline: none;
  border: 2px solid #E0A600;
  color: #1F3A24;
  box-shadow:3px 3px 3px 3px rgba(224, 166, 0, 0.47);
}
option{
  color: #1F3A24;
  
}


.terms {
  display: block;
  color: #E0A600;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-decoration: none;
  margin-left: 1rem;
}

.terms input {
  width:18px;
  height: 18px; 
  cursor: pointer;
  margin-top: 5px;
} 
  

.signup-button {
  background-color: #E0A600;
  color: #ffff;
  padding: 7px 0;
  width: 45%;
  font-weight: bold;
  border-radius: 20px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  margin-left: 150px;
  border: 0;

}

.signup-button:hover {
  background-color: #c99a1a;
}

.error-msg{
  color: #E0A600;
    font-size: 15px;
    margin-top: 8px;
    margin-left: 15px;
  }
  .error-msg2{
    color: #E0A600;
    font-size: 15px;
    margin-top: -10px;
    margin-left: 15px; 
  }
  .back-link1 {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: lighter;
    position: relative;
    display: block;
    text-align: right;
    margin-top: -85px; 
    margin-right: 15px; 
  }
  
  .lien-login1 {
      color: #E0A600;
      font-weight: bold;
      text-decoration: none;
  }
  .lien-login1:hover{
    text-decoration: underline;
  } 
  @keyframes fadeSlideInLeft {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeSlideInRight {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeSlideInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeSlideInUpImage {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .left-section2 img, .left-section img,.logo-sign{
    animation: fadeSlideInUpImage 1s ease-out;
  }
  
    
  
  .container-sign, .signup-box, .login-box, .back-link1 {
    animation: fadeSlideInUp 1s ease-out;
  }
  
  